html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

a {
  color: #33ff00;
  font-size: 20px;
}

html {
  background-color: #140d74;
}

body {
  width: 1300px;
  margin: 0 auto;
  background-color: #3c9cc5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  counter-reset: section;
}

  
  li.rgNumbers:before{
    counter-increment: section;
    content: counter(section)') \2022';
  }
  ul.listOfNumbers, ul.listOfNumbers2{
    list-style-type: none;
    counter-reset: section;
  }

h1 {
  margin: 0;
  padding: 20px 0;
  color: #1a1a1a;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.one {
  float: left;
  position: relative;
  left: 20%;
  
}

.one > h1{
  font-size: 80px;
  color: #33ff00;
}

.one > span{
  font-size: 20px;

}

.two {
  position: relative;
    left: -45px;
    
}

