h1 {
    font-family: Papyrus,fantasy; 
}

@font-face {
    font-family: cFont;
    src: url(kaushan.otf);
}

h2 {
    font-family: cFont;
}
a{
    text-decoration: none;
    margin: 0;
}
a:hover {
    text-decoration: underline red;
  }

h3{
    font-family: 'Rubik Beastly', cursive;
    font-weight: 70;
    font-size: 2rem;
  }